In [1]:
'''Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical
or not. A number is symmetrical when it is the same asits reverse.'''
def issymmetrical(n):
    n=str(n)
    if n==n[::-1]:
        return True
    return False

In [2]:
issymmetrical(7227)

True

In [3]:
issymmetrical(12567)

False

In [4]:
issymmetrical(44444444)

True

In [5]:
issymmetrical(9939)

False

In [6]:
issymmetrical(1112111)

True

In [7]:
'''Given a string of numbers separated by a comma and space, return the product of the numbers.'''
def multiply(s):
    s=s.split(",")
    t=1
    for i in s:
        t*=int(i)
    return t

In [8]:
multiply("2,3")

6

In [9]:
multiply("1,2,3,4")

24

In [10]:
multiply("54,75,453,0")

0

In [11]:
multiply("10,-2")

-20

In [12]:
#Create a function that squares every digit of a number.
def squaredigits(n):
    n=str(n)
    s=""
    for i in n:
        s+=str(int(i)**2)
    return int(s)

In [13]:
squaredigits(9119)

811181

In [14]:
squaredigits(2483)

416649

In [15]:
squaredigits(3212)

9414

In [16]:
#Create a function that sorts a list and removes all duplicate items from it.
def setify(l):
    l=list(set(l))
    return l

In [17]:
setify([1,3,3,5,5])

[1, 3, 5]

In [18]:
setify([4,4,4,4])

[4]

In [19]:
setify([5,7,8,9,10,15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3,3,3,2,1])

[1, 2, 3]

In [21]:
#Create a function that returns the mean of all digits.
def mean(n):
    n=str(n)
    s=0
    for i in n:
        s+=int(i)
    return (s//len(n))

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6